extends ../layout

block content
  .container
    .row
      .page-header 撰写影评
        form.form-horizontal(method="post", action="/write/comment/new")
        input(type='hidden', name='comment[_id]', value='#{comment._id}')
        .form-group
          label.col-sm-2.control-label(for="inputTitle") 电影名字
          .col-sm-10
            input#inputTitle.form-control(type="text", name="comment[title]", value="#{comment.title}")
        .form-group
          label.col-sm-2.control-label(for="inputLanguage") 评论标题
          .col-sm-10
            input#inputLanguage.form-control(type="text", name="comment[commentname]", value="#{comment.commentname}")
        .form-group
          label.col-sm-2.control-label(for="inputCountry") 评分
          .col-sm-10
            input#inputCountry.form-control(type="text", name="comment[mark]", value="#{comment.mark}")
        .form-group
          label.col-sm-2.control-label(for="inputSummary") 电影简介
          .col-sm-10
            input#inputSummary.form-control(type="text", name="comment[content]", value="#{comment.content}")
        .form-group
          label.col-sm-2.control-label(for="inputPoster") 海报地址
          .col-sm-10
            input#inputPoster.form-control(type="text", name="comment[poster]", value="#{comment.poster}")

        .form-group
          label.col-sm-offset-2.col-sm-10
          button.btn.btn-default(type="submit") 录入